name: Build Dynawo Wheels

on:
  push:
    tags:
      - 'v*' # Triggers when you push a version tag like v1.7.0
  workflow_dispatch: # Allows manual triggering

jobs:
  build_wheels_linux:
    name: Build wheel on Linux
    runs-on: ubuntu-latest
    container:
      image: quay.io/pypa/manylinux2014_x86_64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Wheel
        uses: addnab/docker-run-action@v3
        with:
          image: quay.io/pypa/manylinux2014_x86_64:latest
          options: -v ${{ github.workspace }}:/build-wheel
          shell: bash
          run: |
            cd /build-wheel
            /opt/python/cp310-cp310/bin/pip install build wheel auditwheel patchelf
            /opt/python/cp310-cp310/bin/python -m build --wheel
            export LD_LIBRARY_PATH=${PWD}/dynawo/lib64:${PWD}/dynawo/lib:${PWD}/dynawo/OpenModelica/lib/x86_64-linux-gnu/omc:${LD_LIBRARY_PATH} 
            auditwheel repair --plat manylinux2014_x86_64 dist/*.whl -w wheelhouse/

      # - name: Install build tools
      #   run: /opt/python/cp310-cp310/bin/pip install build wheel auditwheel patchelf

      # - name: Build Wheel
      #   run: |
      #     /opt/python/cp310-cp310/bin/python -m build --wheel
      #     export LD_LIBRARY_PATH=${PWD}/dynawo/lib64:${PWD}/dynawo/lib:${PWD}/dynawo/OpenModelica/lib/x86_64-linux-gnu/omc:${LD_LIBRARY_PATH} 
      #     auditwheel repair --plat manylinux2014_x86_64 dist/*.whl -w wheelhouse/

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux
          path: wheelhouse/*.whl

  build_wheels_windows:
    name: Build wheel on Windows
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install build tools
        run: pip install build wheel

      - name: Build Wheel
        shell: bash
        run: |
          python -m build --wheel
          mkdir -p wheelhouse
          mv dist/*.whl wheelhouse/

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheels-windows
          path: wheelhouse/*.whl